{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
<div class="container mt-5">
    <h2 class="text-center mb-4">{{ producto.nombre }}</h2>
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" class="img-fluid rounded shadow" alt="{{ producto.nombre }}">
            {% else %}
                <img src="{% static 'images/default.jpg' %}" class="img-fluid rounded shadow" alt="Imagen no disponible">
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="card border-light shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Descripción</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <h5 class="card-title">Precio</h5>
                    <p class="card-text text-success font-weight-bold">Precio: ${{ producto.precio }}</p>
                    <div class="text-center">
                        <a href="{% url 'EditarProducto' producto.id %}" class="btn btn-warning">Editar Producto</a>
                        <a href="{% url 'ListaProductos' %}" class="btn btn-secondary">Volver a la lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
