{% extends 'padre.html' %}

{% block contenidoQueCambia %}
{% for producto in productos %}
<div class="col-md-4 mb-4">
    <div class="card">
        <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
        <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text">{{ producto.descripcion|slice:":100" }}...</p>
            <p class="card-text">Precio: ${{ producto.precio }}</p>
            <a href="{% url 'detalle_producto' producto.id %}" class="btn btn-info">Ver más</a> <!-- Verifica este enlace -->
            <a href="{% url 'EditarProducto' producto.id %}" class="btn btn-warning">Editar</a>
        </div>
    </div>
</div>
{% empty %}
<div class="col-12">
    <div class="alert alert-warning" role="alert">No hay productos disponibles.</div>
</div>
{% endfor %}

{% endblock contenidoQueCambia %}
