{% extends 'padre.html' %}
{% load static %} <!-- Asegúrate de tener esta línea aquí -->

{% block contenidoQueCambia %}
<div class="container mt-5">
    <div class="text-center text-black">
        <!-- Título principal estilizado -->
        <h1 class="display-4 mb-4">Bienvenido a Nuestra Página</h1>
        
        <h3 class="mb-4">{{ mensaje }}</h3>

        <!-- Botón de acción destacado -->
        <a href="{% url 'ListaProductos' %}" class="btn btn-primary btn-lg">Explorar Productos</a>
    </div>
</div>
{% endblock contenidoQueCambia %}
