{% extends 'padre.html' %}

{% block contenidoQueCambia %}
<div class="container mt-5">
  <div class="card text-center shadow-sm">
    <div class="card-body">
      <h1 class="card-title display-4 text-danger mb-4">¿Eliminar Pedido?</h1>

      <p class="card-text">¿Estás seguro de que deseas eliminar el registro del pedido <strong>{{ pedido.order_number }}</strong>? Esta acción no se puede deshacer.</p>

      <form action="{% url 'EliminaPedido' pedido.id %}" method="post">
        {% csrf_token %}
        
        <button type="submit" class="btn btn-danger btn-lg">Confirmar</button>

        <a href="{% url 'ListaPedidos' %}" class="btn btn-secondary btn-lg ml-3">Cancelar</a>
      </form>
    </div>
  </div>
</div>
{% endblock contenidoQueCambia %}
