{% extends 'padre.html' %}

{% block contenidoQueCambia %}
  <div class="container mt-5">
    <h2 class="text-center text-black mb-4">Crear/Editar Producto</h2>

    <form method="post" class="border p-4 rounded shadow" enctype="multipart/form-data">  
      {% csrf_token %}

      <div class="form-group">
        {{ formulario.as_p }}
      </div>
      
      <button type="submit" class="btn btn-primary btn-block">Guardar</button>
    </form>

    <div class="text-center mt-3">
      <a href="{% url 'ListaProductos' %}" class="btn btn-secondary">Volver a la lista de productos</a>
    </div>
  </div>
{% endblock contenidoQueCambia %}
